<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>449025692275-s6dniktdclhqllv8eq0a248ct9aj643m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.449025692275-s6dniktdclhqllv8eq0a248ct9aj643m</string>
	<key>API_KEY</key>
	<string>AIzaSyA3zAcRKDtjhm6nTdne8AiM6xE2qgOPmy8</string>
	<key>GCM_SENDER_ID</key>
	<string>449025692275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fenwicks.admin</string>
	<key>PROJECT_ID</key>
	<string>fenwicks-pub-a46a5</string>
	<key>STORAGE_BUCKET</key>
	<string>fenwicks-pub-a46a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:449025692275:ios:228366ad00a8406d351006</string>
</dict>
</plist>